<div class="jumbotron">
  <h1>Successfully Signed In!</h1>
  <h4>Welcome {{ user.displayName }}!</h4>
  <p>You have singed in as {{ user.displayName }}. The bot will soon acess to your account. Now you can close this tab.</p>
</div>
